
  .quickac{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-items: baseline;
 

  }
  .quickac__add{
    position: fixed;
    bottom: 100px;
    left: 87%;
    z-index: 10;
    align-items: center;
    justify-content: center ;
    box-shadow: 2px,2px,5px rgb(0, 0, 0,0.25);
    height: 40px;
    width: 40px;
    background-color:  #2196f3;
    border-radius: 900%;
    color: white;
    margin: 2px;

  }

  .quickac__add{
   display: flex;
   flex: 1;
border-radius: 50%;
align-items: center;
font-size: 19;
margin: 8px;
  }
