@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* can now reference my font */


/* my custom css */
.home{
    margin-top: 50px;
    position: absolute;
   background-color: #e1e9ee; 
   padding-bottom: 0px;
    }