.onyourmind{
    background-color: white;
    position: relative;
    border-radius: 4px;
    top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
    }
    .topcont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    
    }
    .topcont>p{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        font-size: 19px;
        color: gray;
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    .bottomha{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
       padding: 10px;
    
        }